<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title><img id="logoP" src="" alt="">
</head>
<body>
{{{body}}}



</body>
</html>


<style>

body{
  background:url("stonehaven.png");
}


h1{
  text-decoration: underline;
  text-align: center;
}

#container{
  display: flex;
  justify-content: center;
}
#home{
  margin-left: 50px;
  width: 180px;
  height: 100px;
  font-size: 40px;
  border-radius: 5px;
  text-align: center;
  padding-top: 40px;
  background-color: cornflowerblue;
}

#logoP{
    height: 100px;
    width: 150px;

  }

table, th, td {
    border: 3px solid black;
    border-collapse: collapse;
    background-color: white;
    font-size: 20px;
}
</style>