<!DOCTYPE html>
<html lang="en">
<style> body {
  background-color: cornflowerblue;
}
.movie {
  font-size: 40px;
  color: green;

}
.movie:hover .one{
  font-size: 60px;
  color: salmon;
}

  </style>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/stylesheet.css">
  <title>Template</title>
</head>
<body>
  {{{body}}}

</body>
</html>