.parent-component {
  width: 100%;
  max-width: 400px;
  margin: auto;
  background-color: #ddd;
  padding: 25px 25px 40px 25px;
  border-radius: 10px;
}

.parent-name {
  margin-top: 15px;
  margin-bottom: 15px;
}

.parent-items {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;

  li {
    padding: 0;
    margin-left: 30px;
  }
}
