ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  display: inline-block;
  margin-right: 15px;
  a { text-decoration: none; }
}

.header-container {
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eee;

  .header-left {
    margin: 0 15px;
  }

  .header-right {
    float: right;
    margin: 0 15px;
  }
}
