#pixelPainter {
    display: flex;
    width: 800px;
    height: 800px;
}

#paletteId {
    flex: 0 0 25%;
    position: relative;
    width: 200px;
    height: 410px;
    padding: 10px;
    margin: 10px;
    /* border: green solid 3px; */
}
.paletteSquareClass {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 4px;
    border: blue 1px solid;
}

#buttonBoxId {
    margin-bottom: 20px;
    margin-left: 20px;
    width: 200px;
    height: 20px;
    width: 88%;
}

#eraseButtonId {
    width: 80px;
    height: 20px;
    border-radius: 10px;
}

#clearButtonId {
    width: 80px;
    height: 20px;
    border-radius: 10px;
}

#gridBoxId {
    flex: 1;
    width: 300px;
    height: 800px;
    border: white solid 4px;
}

.gridSquaresClass {
    display: inline-block;
    width: 10px;
    height: 10px;
    padding: 4px;
    border: blue 1px solid;
}
