<form>

  <div class="input-group">
    <label for="name">Name:</label>
    <input type="text" name="name" [(ngModel)]="formData.name" (keyup)="validateName()">
  </div>

  <div class="input-group">
    <label for="email">Email:</label>
    <input type="text" name="email" [(ngModel)]="formData.email" (keyup)="validateEmail()">
  </div>

  <div class="input-group">
    <button class="btn" [disabled]="submitDisabled()" (click)="submitForm()">Submit</button>
  </div>

  {{ formData.name }}
  <br>
  {{ formData.email}}

</form>
