<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Client Ordering Services</title><img id="logoP" src="logo.png" alt="">
</head>
<body>
{{{body}}}

<div id="container">
  <div id='home'><a href="/">Home</a></div>
  <div id='home'><a href="/articles/new">New Article</a></div>
  <div id='home'><a href="/products/new">New Product</a></div>
  <div id='home'><a href="/articles">Articles</a></div>
  <div id='home'><a href="/products">Products</a></div>
</div>


</body>
</html>


<style>

body{
  background-color: grey; 
}

h1{
  text-decoration: underline;
  text-align: center;
}

#container{
  display: flex;
  justify-content: center;
}
#home{
  margin-left: 50px;
  width: 180px;
  height: 100px;
  font-size: 40px;
  border-radius: 5px;
  text-align: center;
  padding-top: 40px;
  background-color: cornflowerblue;
}

#logoP{
    height: 100px;
    width: 150px;

  }

table, th, td {
    border: 3px solid black;
    border-collapse: collapse;
    background-color: white;
    font-size: 20px;
}
</style>