<h1>Welcome To Articles</h1>
<br>
<table style="width:100%">
  <tr>
    <th>ID</th>
    <th>Title</th> 
    <th>Body</th>
    <th>Author</th>
    <th></th>
    <th></th>
  </tr>
  {{>a-list}}
  {{>id-item}}

</table>




<br>
<br>


<style>
#logoP{
    height: 100px;
    width: 150px;
    float: right;
  }


</style>