<h1>Confirm Action To Delete</h1>
<br>


<img id="bender" src="http://bit.ly/2bDFsfw" alt="">
  <a href="/products/" method="post">DELETE</a>



<form action="/products" method="post">


  {{>delete-item}}




 

</form>


<br>
<br>
<style>

#bender{
  margin-left: 450px;

  }
  #submitBox{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
}

button{
    width: 200px;
    height: 50px;
}
</style>