<h1>Welcome To Products</h1>
<br>
<table style="width:100%">
  <tr>
    <th>ID</th>
    <th>Name</th> 
    <th>Price</th>
    <th>Inventory</th>
    <th></th>
    <th></th>
  </tr>
  {{>p-list}}
  {{>id-item}}

</table>




<br>
<br>


<style>
#logoP{
    height: 100px;
    width: 150px;
    float: right;
  }
</style>