<h1>Welcome To Edit</h1>
<br>
<form method="post">
<table style="width:100%">

  {{>edit-item}}


</form>


<br>
<br>
<style>
  #submitBox{
        margin-top: 40px;
    display: flex;
    justify-content: center;
}

button{
    width: 200px;
    height: 50px;
}
</style>