<h1>Welcome To Edit</h1>
<br>
<form action="#" method="post">
<table style="width:100%">
  <tr>
    <th>ID</th>
    <th>Name</th> 
    <th>Price</th>
    <th>Inventory</th>
  </tr>
  {{>edit-article}}

</table>

<div id="submitBox"><button>SUBMIT</button></div> 

</form>


<br>
<br>
<style>
  #submitBox{
        margin-top: 40px;
    display: flex;
    justify-content: center;
}

button{
    width: 200px;
    height: 50px;
}
</style>